.App {
  text-align: center;
}

.film-box {
  background-color: #f1f1f1;
  width: max-content;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

hr {
  float: center;
  width: 500px;
}

ul {
  margin: 50px;
}

li {
  padding: 10px;
  font-size: 1.5em;
  text-align: left;
}

a {
  color: steelblue;
}

a:active {
  color: steelblue;
}

button {
  display: inline;
  background-color: lightsteelblue;
  border: none;
  color: steelblue;
  padding: 15px 32px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}